a {
  text-decoration: none;
  list-style: none;
}
.banner-slide {
  height: 80vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.banner-overlay {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  display: flex;
  align-items: center;
}

.banner-content {
  color: #fff;
}

.banner-content h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.banner-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #ddd;
}
/* Navigation Arrows */
.fullscreen-loader {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.85);
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-box {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
}
